@model WebApplication1.ViewModels.ViewModel_1

<div id="Stk">
    <div style="overflow-y:auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Stock Code</th>
                    <th>Stock Name</th>
                    <th>No. of Shares</th>
                    <th>Market</th>
                    <th>Exchange Rate</th>
                    <th>Currency</th>
                    <th>Close Price</th>
                    <th>Equity</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.StkHoldingModels)
                {
                    var has_date = false;
                    <tr>
                        <td>@item.Stklist.stkcode</td>
                        <td>@item.Stklist.name</td>
                        <td>@item.shares</td>
                        <td>@item.Stklist.market</td>
                        @foreach (var item2 in item.Stklist.StkModels)
                        {

                            if (item2.datetme == (string)TempData["dt"])
                            {
                                has_date = true;
                                <td>@item2.xrate</td>
                            }


                        }
                        @if (has_date == false)
                        {
                            <td></td>}

                        <td>@item.Stklist.currency</td>
                        @foreach (var item2 in item.Stklist.StkModels)
                        {
                            if (item2.datetme == (string)TempData["dt"])
                            {
                                <td>@item2.cprice</td>
                                <td>@((item2.cprice * item.shares * item2.xrate).ToString("c"))</td>
                            }

                        }
                        @if (has_date == false)
                        {
                            <td></td>
                            <td></td>
                        }
                    </tr>
                }

            </tbody>
        </table>
        </div>
    </div>
<div id="Cash">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Free Cash</th>
                <th>Margin</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.CashHoldingModels)
            {
                <tr>
                    <td>@item.freecash</td>
                    <td>@item.margin</td>
                </tr>
            }
        </tbody>
    </table>
</div>
    <div id="tx">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Buy/Sell</th>
                    <th>Stock Code</th>
                    <th>Stock Name</th>
                    <th>No. of Shares</th>
                    <th>Currency</th>
                    <th>Exchange Rate</th>
                    <th>Execution Price</th>
                    <th>Remark</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.txModels)
                {
                    <tr>
                        <td>@item.datetme</td>
                        <td>@item.hrmmtme</td>
                        <td>@item.buysell</td>
                        <td>@item.Stklist.stkcode</td>
                        <td>@item.Stklist.name</td>
                        <td>@item.shares</td>
                        <td>@item.Stklist.currency</td>
                        <td>@item.xrate</td>
                        <td>@item.price</td>
                        <td>@item.remark</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="pending_tx">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Buy/Sell</th>
                    <th>Stock Code</th>
                    <th>Stock Name</th>
                    <th>No. of Shares</th>
                    <th>Currency</th>

                    <th>Order Price</th>
                    <th>Remark</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Pending_txModels)
                {
                    <tr>
                        <td>@item.datetme</td>
                        <td>@item.hrmmtme</td>
                        <td>@item.buysell</td>
                        <td>@item.Stklist.stkcode</td>
                        <td>@item.Stklist.name</td>
                        <td>@item.shares</td>
                        <td>@item.Stklist.currency</td>

                        <td>@item.price</td>
                        <td>@item.remark</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>




